.red{
    height: 700px;
    display: flex;
    position: relative; /* make this slide the positioning context for absolute text */
    /* margin: 10px; */
}

.wine{
    height: 700px;
    display: flex;
    position: relative; /* make this slide the positioning context for absolute text */
    /* background-color: green;    */
}
/* .blue{
    height: 500px;
    display: flex;
    margin: 10px;
    background-color: blue;   
} */

.slider-container{
    width: 100%;
    /* padding: 50px; */
    /* background-color: cyan; */
}

.will{
    display: flex;
    align-items: center;
    justify-content: center;
}